@model IEnumerable<PostProject.Models.PostModel>
@{
    ViewBag.Title = "Post";

}

<h2>Post</h2>


<div ng-controller="PostCtrl" ng-cloak>
    @*<div id="PU-block">
        <div id="PU-block-Tit">
            <input type="hidden" id="EPostId" ng-model="EPost.Id"/>
            <div id="PU-Tit">
                Title:
            </div>
            <div id="PU-in-Tit">
                <textarea cols="15" rows="2.5" id="EPostTitle" ng-model="EPost.Title"></textarea>
            </div>
        </div>
        <div id="PU-block-Des">
            <div id="PU-Des">
                Description
            </div>
            <div id="PU-in-Des">
                <textarea cols="30" rows="10" id="EPostDescription" ng-model="EPost.Description"></textarea>
            </div>
        </div>
        <div id="PU-block-Sub">
            <button id="buttonSave" ng-click="saveEditedPost()">Зберегти</button>
            <button id="buttonSave" ng-click="hidePopUp()">Скасувати</button>
        </div>
    </div>*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Редагування поста</h4>
                </div>
                <div class="modal-body">
                    <div id="PU-block-Tit">
                        <input type="hidden" id="EPostId" ng-model="EPost.Id" />
                        <div id="PU-Tit">
                            Title:
                        </div>
                        <div id="PU-in-Tit">
                            <input type="text" class="form-control" id="EPostTitle" ng-model="EPost.Title"></input>
                        </div>
                    </div>
                    <div id="PU-block-Des">
                        <div id="PU-Des">
                            <div id="PU-in-Des">Description:</div>
                            
                            <textarea class="form-control" rows="5" id="EPostDescription" ng-model="EPost.Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">Скасувати</button>
                    <button type="button" class="button" ng-click="saveEditedPost()" data-dismiss="modal">Зберегти</button>
                </div>
            </div>
        </div>
    </div>

    <div class="massageBlock">
        <div class="insideMassageBlock">
            <div class="inputBlock">
                <div class="Text">Title</div>
                <div class="Input">
                    <input type="text" id="Title" ng-model="newPost.Title">
                </div>
            </div>
            <div class="inputBlock">
                <div class="Text">Text</div>
                <div class="Input">
                    <textarea rows="6" cols="21" id="Description" ng-model="newPost.Description"></textarea>
                </div>
            </div>
            <div class="inputBlock">
                <button id="submit" type="button" ng-click="addPost(newPost)">Send Post</button>
            </div>
        </div>
    </div>

    <div ng-repeat="Post in Posts">
        <div class="bl-Main" id="{{Post.Id}}">
            <div class="bl-info">
                <div class="bl-tit">
                    <div class="name">{{Post.User.FirstName + " " + Post.User.LastName }}</div>
                    <button class="buttonDel"  ng-click="deletePost(Post.Id)">Видалити</button>
                </div>
                <div class="bl-tit">
                    <div class="date">{{Post.DateOfCreate | date:'dd.MM.yyyy HH:mm'}}</div>
                    <button class="buttonEdit" value="{{Post.Id}}" ng-click="editPost(Post)" data-toggle="modal" data-target="#myModal">Редагувати</button>
                </div>
            </div>
            <div class="bl-title" id="titId_{{Post.Id}}" >
                {{Post.Title}}
            </div>
            <div class="bl-description" id="descId_{{Post.Id}}" >
                <p>{{Post.Description}}</p>
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
    
    var app = angular.module("MyApp",  []);
    app.controller("PostCtrl", function ($scope, $http) {
        $scope.isOpen = false;
        $scope.EPost = {};
        $scope.currentPost;
        $http.get('@Url.Action("ShowUserPosts","Home")')
            .success(function (result) {
                $scope.Posts = result;
            });
        $scope.addPost = function (Post) {
            $http.post('@Url.Action("SentPost","Home")', Post)
                .success(function (result) {
                    console.log(result);
                    $scope.Posts.unshift(result);
                });
        }
        $scope.deletePost = function (IdObj) {

            $http.post('@Url.Action("DeletePost","Home")', {id : IdObj})
                .success(function (result) {
                    var index;
                    for (var i = 0; i < $scope.Posts.length; i++) {
                        if ($scope.Posts[i].Id == IdObj) {
                            index = i;
                            break;
                        }
                    }
                    $scope.Posts.splice(index,1);
                });
        }
        $scope.editPost = function (Post) {
            $scope.currentPost = Post;
            $scope.EPost = angular.copy(Post);
        }
        $scope.saveEditedPost = function () {
            
            $http.post('@Url.Action("SavePost","Home")', {model: $scope.EPost})
                .success(function (result) {
                    $scope.currentPost = angular.extend($scope.currentPost, $scope.EPost);
                   
            });
        }
        $scope.hidePopUp = function () {
            $("#PU-block").css("display", "none");
        }
    });


    $(document).ready(function () {
        $('#submit').click(function () {
            var title = $("#Title").val();
            var description = $("#Description").val();
            $.ajax({
                url: '@Url.Action("SentPost","Home")',
                type: "POST",
                data: { Title: title, Description: description },
                dataType: "html",
                success: function (data) {
                    $("#Title").val("");
                    $("#Description").val("");
                    $("#result").html(data);

                }
            });

        });
        $.ajax({
            url: '@Url.Action("ShowUserPosts", "Home")',
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#result").html(data);
            }

        });

    });
</script>*@